<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelTestSuite" parallel="classes" thread-count="2">
    <test name="LoginTest">
        <classes>
            <class name="Tests.LoginLogout"/>
            <class name="Tests.UnsuccessfulLogin"/>
        </classes>
    </test>
</suite>